.img-logo{
    height: 30px;
}

.k2.carrusel{
    height: 30px;
}
.k3.carrusel{
    height: 30px;
}
.k1.carrusel{
    height: 30px;
}
footer{
    background-color: #ffff00;
    color: black;
    font-weight: bolder;
}
h3{
    text-align: center;
    color: #004000;
    font-style: italic;
}

h2{
    color: #000080;
    font-variant-ligatures: contextual;
}
.parrafo1{color: #ff0000;

}
.parrafo2{
    color: #004000;
    font-style: italic;
}

